<div style="margin:20px 20px;">
  <!--模拟左侧菜单栏-->
  <button nz-button [nzType]="'primary'" (click)="addTab('test1')">
    <span>test1</span>
  </button>
  <button nz-button [nzType]="'primary'" (click)="addTab('test2')">
    <span>test2</span>
  </button>
  <button nz-button [nzType]="'primary'" (click)="addTab('test3')">
    <span>test3</span>
  </button>
  <button nz-button [nzType]="'primary'" (click)="addTab('test4')">
    <span>test4</span>
  </button>
</div>
<nz-tabset style="margin:10px;" [nzAnimated]="true" (nzSelectChange)="nzSelectChange($event)" [nzShowPagination]="true"
  [nzSelectedIndex]="currentIndex" [nzType]="'card'">
  <nz-tab *ngFor="let tab of tabList">
    <ng-template #nzTabHeading="">
      <div>
        {{tab.title }}
        <i class="fa fa-times-circle" *ngIf="!tab.unremovable" (click)="onTabClose(tab)"></i>
      </div>
    </ng-template>
    <!--动态组件-->
    <app-tab-tpl [tab]="tab"></app-tab-tpl>
  </nz-tab>
</nz-tabset>
